<div class="d-flex justify-content-center">
    <div class="jumbotron jumbotron-fluid mt-3 p-5 col-md-6">

        <form [formGroup]="appointmentForm" novalidate autocomplete="off">
            <div class="row">
                <label class="gbl-title-primary text-center d-block">Patient info</label>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label>Name:</label>
                </div>
                <div class="col-md-3">
                    <label>{{patientInfo.Name}}</label>
                </div>
                <div class="col-md-3">
                    <label>Identity:</label>
                </div>
                <div class="col-md-3">
                    <label>{{patientInfo.Identity}}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label>Date of birth:</label>
                </div>
                <div class="col-md-3">
                    <label>{{patientInfo.Creation_Date  | date:'MM/dd/yyyy'}}</label>
                </div>
                <div class="col-md-3">
                    <label>Phone:</label>
                </div>
                <div class="col-md-3">
                    <label>{{patientInfo.Phone}}</label>
                </div>
            </div>
            <div class="row">
                <label class="gbl-title-secondary text-center d-block">Make appointment</label>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label>Date:</label>
                </div>
                <div class="col-md-9">

                    <input matInput formControlName="Date" style="width: 150px;" [matDatepicker]="myDatepicker" readonly>
                    <mat-datepicker-toggle class="btn-date" [for]="myDatepicker"></mat-datepicker-toggle>
                    <mat-datepicker #myDatepicker></mat-datepicker>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label>Hour:</label>
                </div>
                <div class="col-md-9">
                    <input formControlName="Hour" [ngxTimepicker]="picker">
                    <ngx-material-timepicker #picker></ngx-material-timepicker>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label>Medical Service:</label>
                </div>
                <div class="col-md-9">

                    <mat-form-field>
                        <mat-select formControlName="Fk_Medical_Service">
                            <mat-option *ngFor="let entry of medicalService" [value]="entry.Pk_Medical_Service">
                                {{entry.Name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>


            <button type="button" (click)="onSave()" class="save-button mt-3">
            SAVE
         </button>
        </form>
    </div>
</div>