<div class="d-flex justify-content-center">
    <div class="jumbotron jumbotron-fluid mt-3 p-5 col-md-6">

        <div class="row">
            <label class="gbl-title-primary text-center d-block">Patient info</label>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>Name:</label>
            </div>
            <div class="col-md-3">
                <label>{{patientInfo.Name}}</label>
            </div>
            <div class="col-md-3">
                <label>Identity:</label>
            </div>
            <div class="col-md-3">
                <label>{{patientInfo.Identity}}</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>Date of birth:</label>
            </div>
            <div class="col-md-3">
                <label>{{patientInfo.Creation_Date  | date:'MM/dd/yyyy'}}</label>
            </div>
            <div class="col-md-3">
                <label>Phone:</label>
            </div>
            <div class="col-md-3">
                <label>{{patientInfo.Phone}}</label>
            </div>
        </div>
        <div class="row">

            <div *ngIf="appointmentList.length>0" style="width: 100%;" class="p-3">

                <div class="table-responsive">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th style="width: 30%;">Medical Service</th>
                                <th style="width: 20%;">Date</th>
                                <th style="width: 20%;">Time</th>
                                <th style="width: 10%;">Status</th>
                                <th style="width: 10%;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let entry of appointmentList;">
                                <td>{{entry.Medical_Service_Name}} </td>
                                <td>{{entry.Date | date:'MM/dd/yyyy'}}</td>
                                <td>{{entry.Hour | date:'shortTime'}}</td>
                                <td><label *ngIf="entry.Canceled">Canceled</label><label *ngIf="!entry.Canceled">Active</label></td>
                                <td>
                                    <button [disabled]="!entry.Can_Cancel" (click)="onCancel(entry) " class="bnt-cancel"><span
                                                class="material-icons">
                                                cancel
                                            </span>&nbsp;Cancel</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>